<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
    <!-- Inclusion de Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-5">Connexion</h1>

        <form class="form-group">
            <p id="errors" style="color: red;">

            </p>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" class="form-control" id="username" name="username">
            <br><br>
            <label for="password">Mot de passe :</label>
            <input type="password" class="form-control" id="password" name="password">
            <br><br>
            <input type="button" class="btn btn-primary" value="Se connecter">
        </form>
    </div>
</body>

</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    let submitButton = document.querySelector(".btn.btn-primary");
    let form = document.querySelector(".form-group")
    function handleForm(event) { event.preventDefault(); }
    form.addEventListener('submit', handleForm);

    const errorDiv = document.querySelector("#errors");

    submitButton.addEventListener("click", function (event) {
        let email = document.querySelector("#username").value
        let pwd = document.querySelector("#password").value
        let json_user = {
            "email": email,
            'password': pwd
        }

        axios.post("/api/user/connect", json_user)
            .then(function (response) {
                data = response["data"]
                if (data["error"] == undefined) {
                    window.sessionStorage.setItem("user", JSON.stringify(data))
                    window.location.replace("/main");
                } else {
                    errorDiv.textContent = "mauvais mot de passe / identifiant"
                }
            })
            .catch(function (error) {
                // handle error
                errorDiv.textContent = error["error"]
            })
    });
</script>