<html>
  <head>
    <title>Page de connexion</title>
    <!-- Inclusion de Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-5">Connexion</h1>
      <form class="form-group">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" class="form-control" id="username" name="username">
        <br><br>
        <label for="password">Mot de passe :</label>
        <input type="password" class="form-control" id="password" name="password">
        <br><br>
        <input type="submit" class="btn btn-primary" value="Se connecter">
      </form>
    </div>
  </body>
</html>