<html>
  <head>
    <title>Page de connexion</title>
    <!-- Inclusion de Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-5">Main page</h1>
 
    </div>
  </body>
</html>